.place__image {
  width: 460px;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
  }
}
@media screen and (max-width: 1000px) {
  .place__image {
    width: 340px;
  }
}
@media screen and (max-width: 425px) {
  .place__image {
    width: 320px;
  }
}
@media screen and (max-width: 320px) {
  .place__image {
    width: 320px;
  }
}
