.footer__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
}
@media screen and (max-width: 522px) {
  .footer__links  {
    flex-direction: column;
    margin-bottom: 48px;
    gap: 32px;
  }
}
@media screen and (max-width: 320px) {
  .footer__links  {
    flex-direction: column;
    margin-bottom: 48px;
    gap: 32px;
  }
}
