.lead__subtitle {
  margin: 0 auto 64px;
  padding: 0 16px;
  color: #fff;
  font-size: 30px;
  max-width: 640px;
  line-height: 1.1;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 700px) {
  .lead__subtitle {
    font-size: 25px;
  }
}
@media screen and (max-width: 478px) {
  .lead__subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 362px) {
  .lead__subtitle {
    font-size: 16px;
  }
}
