.cover__title {
  z-index: 3;
  padding: 0;
  margin: 245px auto 32px;
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .cover__title {
    margin: 195px auto 32px;
  }
}
@media screen and (max-width: 768px) {
  .cover__title {
    margin: 115px auto 32px;
  }
}
