.footer {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 48px 24px;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}
@media screen and (max-width: 725px) {
  .footer {
    flex-direction: column;
    gap:15px
  }
}
@media screen and (max-width: 522px) {
  .footer {
    gap: 0;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    padding: 0 16px 24px;
  }
}
